{% if not user %}
<div class="column">
    <h3>Войти</h3>
    {% partial 'account/signin' %}
</div>
{% else %}
<div style="display: flex;">
    <div>
        <div class="ui vertical item menu" id="menu_items">
            <a class="active item" id="profile">Профиль</a>
            <a class="item" id="author_reference">Авторская справка</a>
            <a class="item" id="profile_settings">Настройки профиля</a>
        </div>
    </div>
    <div class="page" style="margin: 0 20px; width: 100%;" id="profile_page">
        <h1 class="ui header">{{ user.surname ~ ' ' ~ user.name ~ ' ' ~ user.middlename}}</h1>
        {% if user.avatar %}
        <img class="ui rounded bordered floated image" src="{{ user.avatar.thumb(200, 200) }}">
        {% else %}
        <img class="ui rounded bordered floated image" src="{{ '/plugins/bree7e/cris/assets/images/man.png'|app }}"
            width="200px">
        {% endif %}
        {# <p>Кандидат технических наук</p>
        <p>Тема кадидатской диссерации: <i>Тема из базы данных</i></p> #}
        <p>Автор {{ user.publicationCount }} статей</p>
        <p><b>должность:</b>
            {% for key, position in user.positions %}
            {{ key > 0 ? ", "}}
            {{ position.name|trim }}
            {% endfor %}
        </p>
        <p><b>e-mail:</b> {{ user.email }}</p>
        <p><b>телефон:</b> {% for phone in user.phones %}
            {{ phone.phones }}
            {% endfor %}</p>
    </div>
    <div class="page" style="margin: 0 20px; width: 100%; display: none;" id="author_reference_page">
        <form class="ui form column">
            <div class="field authors_field">
                <div class="field authors_field_main">
                    <label for="authors_str">Автор</label>
                    <input name="authors_str" type="text" id="authors_str" value="">
                </div>
                <div class="select">
                    <div class="current field">
                        <label for="authors_search">Поиск</label>
                        <input type="text" id="authors_search" value="" placeholder="Поиск автора" />
                    </div>
                    <div class="dropdown">
                        {% for author in authors %}
                        <div class="item_author">
                            <label class='checkbox'>
                                {{ author.surname }} {{ author.name }} {{ author.middlename }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="id_publication_type">id_publication_type</label>
                <input name="id_publication_type" type="number" id="id_publication_type" value="">
            </div>
            <div class="field">
                <label for="full_name_publication">Полное название публикации</label>
                <input name="full_name_publication" type="text" id="full_name_publication" value="">
            </div>
            <div class="field">
                <label for="count_pages">Количество страниц</label>
                <input name="count_pages" type="number" id="count_pages" value="">
            </div>
            <div class="field">
                <label for="count_images">count_images</label>
                <input name="count_images" type="number" id="count_images" value="">
            </div>
            <div class="field">
                <label for="is_literary_sources">
                    <input name="is_literary_sources" type="checkbox" id="is_literary_sources" value="">
                    is_literary_sources
                </label>
            </div>
            <div class="field">
                <label for="is_information_not_rospatent">
                    <input name="is_information_not_rospatent" type="checkbox" id="is_information_not_rospatent"
                        value="">
                    is_information_not_rospatent
                </label>
            </div>
            <div class="field">
                <label for="is_information_other_people">
                    <input name="is_information_other_people" type="checkbox" id="is_information_other_people" value="">
                    is_information_other_people
                </label>
            </div>
            <div class="field">
                <label for="is_information_inventions">
                    <input name="is_information_inventions" type="checkbox" id="is_information_inventions" value="">
                    is_information_inventions
                </label>
            </div>
            <div class="field">
                <label for="inventions">inventions</label>
                <input name="inventions" type="text" id="inventions" value="">
            </div>
            <div class="field">
                <label for="is_lock">
                    <input name="is_lock" type="checkbox" id="is_lock" value="">
                    is_lock
                </label>
            </div>
            <div class="field">
                <label for="NIR">NIR</label>
                <select name="NIR" class="ui search dropdown">
                    <option value="0">Выбор</option>
                    {% for NIR in projectsNIR %}
                    <option value="{{ NIR['nioktr_number'] }}">{{ NIR['nioktr_number'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label for="information">inventions</label>
                <input name="information" type="text" id="information" value="">
            </div>
        </form>
    </div>
    <div class="page" style="margin: 0 20px; width: 100%; display: none;" id="profile_settings_page">
        {{ form_ajax('onUpdate', { model: user, class: 'ui form column'} ) }}
        <div class="field">
            <label for="accountName">Логин</label>
            <input name="name" type="text" id="accountName" value="{{ form_value('name') }}">
        </div>

        <div class="field">
            <label for="accountEmail">Email</label>
            <input name="email" type="email" id="accountEmail" value="{{ form_value('email') }}">
        </div>

        <div class="field">
            <label for="accountPassword">Новый пароль</label>
            <input name="password" type="password" id="accountPassword">
        </div>

        <div class="field">
            <label for="accountPasswordConfirm">Подтверждение пароля</label>
            <input name="password_confirmation" type="password" id="accountPasswordConfirm">
        </div>

        <button type="submit" class="ui button">Сохранить</button>
        {{ form_close() }}
    </div>
</div>

{% put scripts %}

<script>
    $(document).ready(function () {
        let timeout;

        $(this).on('click', (e) => {
            const $select = $(e.target).closest('.select');
            if ($select.length === 0) {
                $('.select .dropdown').hide();
            }
        });


        $menuItems = $('.ui.vertical.item.menu a.item');
        $pages = $('.page');

        $menuItems.on('click', function (e) {
            $menuItems.removeClass('active');
            $pages.hide();

            $(e.target).addClass('active');
            $(`#${$(e.target).attr('id')}_page`).show();
        })

        $('.current').on('click', function (e) {
            if (e.target.id === 'authors_search') {
                $('.select .dropdown').show();
                return;
            }
            $(this).closest('.select').toggleClass('opened');
        });

        $('#authors_search').on('keydown', function (e) {
            e.stopPropagation();
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                const $labels = $('.select .dropdown label');
                const $divs = $('.select .dropdown div');
                if (this.value === '') {
                    $labels.show();
                    $divs.show();
                    return;
                }
                $divs.map(($index, $div) => {
                    if ($($div).children('label')[0].innerText.toLowerCase().indexOf(this.value.toLowerCase()) === -1) {
                        $($div).hide();
                    }
                    else {
                        $($div).show();
                    }
                });
            }, 800);
        });

        $('.item_author').on('click', function (e) {
            $text = $(e.target)[0].innerText;

            $arr = $text.split(' ');

            $('#authors_str')[0].value += `${$arr[0]} ${$arr[1][0]}.${$arr[2][0]}. `;
        })
    });
</script>

{% endput %}

{% put styles %}
<style>
    .current {
        margin-bottom: 0 !important;
    }

    .select .dropdown {
        display: none;
        position: absolute;
        max-height: 400px;
        overflow: auto;
        background: #fff;
        border: 1px solid #bfc0c3;
        border-radius: 2px;
        padding-left: 5px;
        padding-bottom: 5px;
        z-index: 100;
    }

    .select .dropdown div {
        box-sizing: border-box;
        cursor: pointer;
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        padding: 8px 2px 0 12px;
    }

    .select .dropdown div.collapsed {
        padding: 0 2px 0 0;
    }

    .authors_field {
        display: flex;
    }

    .authors_field_main {
        width: 80%;
    }

    .select {
        margin-left: 5px;
    }

    .checkbox {
        cursor: pointer;
    }
</style>
{% endput %}

{% endif %}